.settingsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.profileHeader img {
    padding: 0.5rem;
    background-color: var(--dark-blue);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
}

.nameMailFormContainer {
    width: 100%;
}

.nameMailFormContainer input {
    border: none;
}

.switchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.switchSettingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: transform 0.5s;
}

.passwordFormContainer {
    width: 100%;
}

.passwordFormContainer header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.passwordFormContainer form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.passwordFormContainer input {
    border: 1px solid var(--white);
}

.passwordFormContainer button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--purple);
    box-shadow: inset 0 0 0 0 var(--light-purple);
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
    transition: ease-out 0.8s;
}

.passwordFormContainer button:hover {
    box-shadow: inset 500px 0 0 0 var(--light-purple);
}

.citiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.switchCityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    width: 100%;
    transition: transform 0.5s;
}

.profileHeader img:hover, .switchSettingContainer:hover, .switchCityContainer:hover {
    transform: scale(0.95);
}

.submitBtn {
    display: flex;
    justify-content: center;
}

.switchSettingContainer, .switchCityContainer, .passwordFormContainer {
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 1rem;
    color: var(--white);
}

.inputBundle {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--white);
    width: 100%;
}

.inputGroup input {
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 10px;
    outline: none;
    padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .settingsContainer {
        grid-template-areas:
            "profileHeader profileHeader"
            "nameMail switch"
            "password password"
            "city city"
            "submit submit";
    }

    .profileHeader {
        grid-area: profileHeader;
    }

    .nameMailFormContainer {
        grid-area: nameMail;
    }

    .switchContainer {
        grid-area: switch;
    }

    .passwordFormContainer {
        width: 100%;
        grid-area: password;
    }

    .citiesContainer {
        grid-area: city;
        flex-direction: row;
    }

    .submitBtn {
        grid-area: submit;
    }
}