* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;;
}

:root {
    --white: #FFFFFF;
    --dark-white: #C8C8C8;
    --dark-blue: #000032;
    --dark-blue-glass: rgba(0, 0, 50, 0.2);
    --purple: #1919C8;
    --light-purple: #3333FF;
}

body {
    width: 100vw;
    min-height: 100vh;
}