.footerStyles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

.footerStyles h1 {
    color: var(--white);
    transition: transform .3s ease-in;
}

.footerStyles h1:hover {
    transform: scale(0.95);
}

.divider {
    width: 100%;
    border: 0.5px solid var(--white);
}

.footerStyles a {
    text-decoration: none;
    color: var(--white);
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials a {
    margin: 0 1rem;
}

.socials a:hover img {
    transform: scale(0.95);
}

@media screen and (min-width: 1024px) {
    .divider {
        width: 40%;
    }
}