.nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue-glass);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.4);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.navItem:hover {
    transform: scale(0.98);
}

.active {
    background-color: var(--white);
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .nav {
        width: auto;
        min-height: 30vh;
        flex-direction: column;
        margin: 0rem 2rem;
    }
}